
#content{
  width: 100%;
  height: 100%;
  background-color: #b7d6e3;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#content table{
  text-align: center;
}
table tbody tr:hover{
  background: #e8e8e8;
  cursor: pointer;
}


.contentTable{
  height: 150px;
  overflow-y:scroll;
}


.modalCloud .cover{
  height: 100%;
  width: 100%;
  background-color: rgba(122, 122, 122, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}


.modalCloud .mimodal{
  background-color: #fff;
  margin: 0 auto;
  z-index: 1005;
  width: 70%;
  position: fixed;
  top: 156px;
  margin: 0 auto;
  left: 15%;
  border-radius: 3px;
}

.modalCloud .headg{
  height: 50px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eee;
}

.modalCloud .contentModal{
  height: 50px;
  width: auto;
  padding: 15px;
}

.modalCloud .footModal{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.headModal{
  width: 95%;
}
.headCloase{
  width: 5%;
  line-height: 3;
  text-align: center;
  cursor: pointer;
  background-color: rgb(152, 3, 3);
  color: #fff;
  border-radius: 3px;
}

.divLogo{
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.divToolsNav{
  width: 100%;
  height: 50px;
  background-color: #1198E1;
  color: #fff;
}

.contentAll{
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: inline-flex;
}

.divNavHorizontal{
  width: 12%;
  height: 100%;
  min-height: 100%;
  background-color: #89c6df;
}


.contentApps{
  width: 88%;
  height: 100%;
  min-height: 100%;
}

.divNavHorizontal ul {
  list-style-type: none;
  margin: 0 auto;
  margin-right: 0;
}

.divNavHorizontal ul li{
  padding: 3px;
  background-color: #42b0dd;
  margin-left: -20px;
}

.divNavHorizontal ul li a{
  width: 100%;
  height: 100%;
  color: #fff;
}

.divNavHorizontal ul li:hover{
  background-color: #89c6df;
  cursor: pointer;
}
